body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.menu-logo {
    display: flex;
    justify-content: space-around;
    flex-direction: column ;
    align-items: center;
    background-image: url(../img/header-backg.png);
    background-color: #4a4644; 
    height: 600px;
}
.head-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 1px solid #c5b916;
    border-radius: 5px;
    box-shadow: 0 0 26px #d1daac;
    height: 50px;
    width: 60%;
    padding: 0 20px;
} 
.head-menu ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
}
.head-menu ul li {
    display: inline-block;
    padding-right: 15px;     
}
.head-menu ul li :hover {
    color: #b6b667;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    padding-bottom: 3px;
    text-transform: uppercase;
    font-style: "Algerian", "Arial Black", "Britannic Bold", sans-serif;
}
.head-menu ul li a {
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    padding-bottom: 3px;
    text-transform: uppercase;
    font-style: "Algerian", "Arial Black", "Britannic Bold", sans-serif;
}
.logo {
    display: inline-block;
    font-size: 25px;
    font-family: "Brush Script MT", sans-serif, cursive, fantasy;
    color: #c5b916; 
    padding-bottom: 2px;
}
section {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.accost-home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    border-radius: 5px;
    height: 400px;
    width: 90%;
}
.accost-home h4 {
    font-family: "Brush Script MT", sans-serif, cursive, fantasy;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size:40px;
}
.accost-home h1 {
    margin-top: -20px;
    text-shadow:  0 2px  5px #c5b916;
    text-transform: uppercase;
    font-size: 40px;
}
.buttom-header {
    background-color: #3d3d3b;
    opacity: 0.6;
    border: #222220 1px solid;
    border-radius: 2px;
    box-shadow: #c5b916 0 0 10px 1px;  
}
.buttom-header a {
    width: 100%;
    padding: 17px 4px;
    margin-left:-4px;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Bernard MT Condensed", sans-serif, cursive, fantasy;
}
.buttom-header :hover  {
    color: #131212;
    background-color: #c5b916;
    opacity: 0.4; 
}
.div-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.services-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}
.div-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px 0;
}
.block-inf {
    text-align: center;
    padding: 20px;
}
.div-portfolio {
    background-color: #f7f7f7;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 60px ;
}  
.block-portfolio-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
.block-portfolio-head h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}
.block-portfolio-head p {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 13px;
    margin-top: -20px;
}
.block-portfolio-foto {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-portfolio-foto h5 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 1.2;
    text-transform: capitalize;
}
.block-portfolio-foto p {
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    line-height: 1.2;  
    margin-top: -20px; 
}
.div-about_us {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.block-about-text {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.block-about-text h1 {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -10px;
}
.block-about-text p {
    font-size: 16px;
    font-family: "Playfair Display", serif;
    color: rgb(119, 119, 119);
    font-style: italic;
    text-align: center;
}
.block-about-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}
.block-about-head1 {
    flex-grow: 2;
    width: 100%;
    text-align: right;
}
.block-about-head1 h4, .block-about-head2 h4 {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;  
    margin-bottom: -30px;
}
.block-about-head1 h6, .block-about-head2 h6 {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: 900;
    font-style: italic;
    text-transform: capitalize;  
}
.block-about-head1 p, .block-about-head2 p {
    font-size: 14px;
    font-family: "RobotoSlab", serif;
    color: rgb(119, 119, 119);
    text-transform: capitalize;
    margin-top: -20px;
}
.block-about-head2 {
    flex-grow: 2;
    width: 100%;
    text-align: left;
}
.block-about-img {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}
.block-about-none {
    content: none;
    flex-grow: 2;
    width: 100%; 
}
.block-about-button {
    width: 70%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.div-amazing {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
}
.amazing-head h1 {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.amazing-head p {
    font-size: 16px;
    font-family: "Playfair Display", sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-style: italic;
    margin-top: -20px;
    padding-bottom: 20px;
    color: rgb(119, 119, 119);
}
.amazing-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.amazing-social-team {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.amazing-social-team-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.amazing-social-team-img h5 {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    color: rgb(34, 34, 34);
    font-weight: bold;
}
.amazing-social-team-img p {
    font-size: 14px;
    font-family: "Playfair Display", serif;
    color: rgb(119, 119, 119);
    font-style: italic;
    text-transform: capitalize;
    color: rgb(34, 34, 34);
    font-weight: bold;
    margin-top: -30px;
}
.amazing-footer {
    width: 60%;
    text-align: center;
    font-size: 16px;
    font-family: "RobotoSlab", serif;
    color: rgb(119, 119, 119);
    text-transform: capitalize;  
    margin-top: 20px;
}
.div-logos {
    width: 60%;
    display: flex;
    justify-content: space-evenly; 
    padding: 40px 0; 
}    
.div-logos img {
    height: 27px;
    width: 140px;
}
.div-contacts {
    background-image: url(../img/maps.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 60px 0;
}
.div-contacts-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-contacts-head h1 {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}
.div-contacts-head p{
    font-size: 16px;
    font-family: "Playfair Display", sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-style: italic;
    margin-top: -20px;
    padding-bottom: 20px;
    color: rgb(119, 119, 119);
}
form {
    width: 70%;
    display: flex;
    flex-wrap: wrap;  
}
.div-contacts-form {
    flex-grow: 3;  
    width: 20%; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.div-contacts-form input {
    width: 90%;
    height: 20%;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    padding-left: 15px;
}
.div-contacts-msg {
    flex-grow: 3;
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.div-contacts-msg textarea {
    border-radius: 5px;
    height: 82%;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}
.div-contacts-button {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.div-contacts-button button {
    height: 60px;
    width: 240px;
    border-radius: 5px;
    background-color: #fed136;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center; 
}
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0; 
}