body {
    margin: 0;
    padding: 0;
}
header{
    /*display: flex;*/
    /*justify-content: center;*/
}
.menu-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/header-backg.png);
    background-color: #4a4644; 
    height: 600px;
}
.head-menu {
    border: 1px solid #c5b916;
    border-radius: 5px;
    box-shadow: 0 0 18px rgb(184, 190, 158);
    height: 45px;
}
.accost-home {
    box-shadow: inset 0 0 40px 1px #e4df96;
    text-align: center;  
    border-radius: 5px;
    height: 400x;
} 
.head-menu ul {
    list-style-type: none;
    display: inline-block;
    
    
}
.head-menu ul li {
    display: inline-block;
       
}
.head-menu ul li :hover {
    color: #b6b667;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    padding-bottom: 3px;
    text-transform: uppercase;
    font-style: "Algerian", "Arial Black", "Britannic Bold", sans-serif;
}
.head-menu ul li a {
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    padding-bottom: 3px;
    text-transform: uppercase;
    font-style: "Algerian", "Arial Black", "Britannic Bold", sans-serif;
}
.logo {
    display: inline;
    font-size: 25px;
    font-family: "Brush Script MT", sans-serif, cursive, fantasy;
    color: #81815b; 
}


.accost-home h4 {
    font-family: "Brush Script MT", sans-serif, cursive, fantasy;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 40px;
}
.accost-home h1 {
    text-shadow:  0 2px  5px #7a7a6a;
    text-transform: uppercase;
    font-size: 40px;
}
.buttom-header {
    background-color: #3d3d3b;
    opacity: 0.4;
    border: #222220 1px solid;
    border-radius: 2px;
    box-shadow: #e0cd77 0 0 10px 1px;
    text-align: center;
}
.buttom-header a {
    width: 100%;
    padding: 17px 4px;
    margin-left:-4px;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Bernard MT Condensed", sans-serif, cursive, fantasy;
}
.buttom-header :hover  {
    color: #131212;
    background-color: #e0cd77;
    opacity: 0.4; 
}
.div-services {
    display: block;
    padding-bottom: 10px;
    height: 600px;
}
.div-services h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Bell MT", sans-serif, cursive, fantasy;
    padding-top: 20px;
    text-align: center;
}
.div-services p {
    margin-top: -25px;
    text-align: center;
}
.block-inf {
    display: inline-block;
    box-shadow: #dbdbd9 0 0 50px 5px;
    text-align: center;
    line-height: 1.5em;
    margin: 90px 0 20px 88px;
    padding: 10px;
}
.block-inf h4 {
    font-family: "Bahnschrift SemiBold", sans-serif, cursive, fantasy;
    font-size: 1.2em;
    text-transform: capitalize;
    padding-bottom: 10px;
    margin-top: 5px;
}
.block-inf p {
    text-align: center;
    font-size: 1.2em;
    font-family: "Microsoft PhagsPa", sans-serif, cursive, fantasy;   
}
